@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #CFCFCF, #C1C1C1, #959595, #626262, #404040);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(45, 99, 105, 0.651);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0b9482;
    text-align: center;
    text-shadow: 1px 1px 2px #085c51fd;
}

h2 {
    color: #32bdb3;
}



p {
    text-align: justify;
}