@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;  
    --fonte2: 'Bodoni Moda', serif;
    --fonte3: 'Sriracha', cursive;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 
}

html,body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 40px;
    font-family: var(--fonte2);
    /*font-size: 4em;*/
    font-size: 5.5vw; /* Tamanho responsivo conforme a largura da tela */
    font-variant: small-caps; /* Deixar as letras maiúsculas, mas com tamanho menor para as minúsculas */

    /* text-transform: uppercase; /* Deixar todas as letras maiúsculas */
}

header > p {
    padding-bottom: 50px;
    font-size: 1.2em;
}

header a, footer a{
    color: white;
    text-decoration: none; /* Tira o sublinhado dos links */
    font-weight: bolder; /* Deixa o texto mais grosso */
}

header a:hover, footer a:hover {
    text-decoration: underline; /* Coloca o sublinhado quando o mouse passa por cima */
}

section { /* Estilização comum para todas as sections */
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw; /* Tamanho responsivo conforme a largura da tela */
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(58, 58, 58);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.247);
    display: inline-block;
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}