@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-variant: small-caps; /* Deixar as letras maiúsculas, mas com tamanho menor para as minúsculas */

    /* text-transform: uppercase; /* Deixar todas as letras maiúsculas */
}

header > p {
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none; /* Tira o sublinhado dos links */
    font-weight: bolder; /* Deixa o texto mais grosso */
}

header a:hover, footer a:hover {
    text-decoration: underline; /* Coloca o sublinhado quando o mouse passa por cima */
}

section { /* Estilização comum para todas as sections */
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(58, 58, 58);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.247);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}